*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: li;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(145deg, rgba(2,0,36,1) 0%, rgba(240,130,13,1) 100%);
}


.main{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    height: 100%
}

/* style for the button */
.btn{
    border: none;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn svg {
    width: 36px;
    height: 36px;
    color: red;
}

.commands{
    display: flex;
    flex-direction: column;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.player-name{
    font-size: 50px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4vh;
    font-weight: 300;
}

.player-name div{
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.player-score{
    font-size: 50px;
    font-weight: 300;
    margin: 10px;
}

.current{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 50px;
    margin: 10px;
    background-color: red;
}

.current-score{
    font-size: 50px;
    color: white;
    font-weight: 200;
    margin: 10px;
}
/* style for the dice */
.dice{
    background-color: white;
    width: 150px;
    height: 150px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    border: solid 1px black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.dot{
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}